{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 ">
            <form action="" method="POST">{% csrf_token %}
                <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" name ='username' placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name ='password' class="form-control" id="exampleInputPassword1">
                </div>
                <input type="submit" value="Login" class="btn btn-primary">
                <a href="{% url 'register' %}" class="btn btn-primary">Sing Up</a>
            </form>
        </div>
    </div>
</div>
{% endblock  %}