{% extends 'main/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1 ">
            <h3 align=" center "">Chat room</h3>
            <div>
                <textarea  readonly id="chat-log" cols="100" rows="20"></textarea><br/>
                <input id="chat-message-input" type="text" size="90"/><br/>
                <input id="chat-message-submit" type="button" value="Send" class="btn btn-success"/>

                <input id="chat-message-anonymously" type="button" value="Send anonymously" class="btn btn-primary"/>
            </div>
            <div>
                <form action="." method ='post' id='csrf_token_get'>{% csrf_token %}</form>
                <input id="datetime-message" type="datetime-local" id="date" name="date" />
                <input id="chat-message-in_datetime" type="button" value="Send in date time" class="btn btn-primary"/>
                <p><a href="{% url 'logout' %}" class="btn btn-primary">Logout</a> : {{request.user.username}}</p>
            </div>
        </div>
    </div>
</div>


    {{ request.user.username|json_script:"user_username" }}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        const user_username = JSON.parse(document.getElementById('user_username').textContent);

        var roomName = "{{ room_name|escapejs }}";

        var chatSocket = new WebSocket(
            'ws://' + 
            window.location.host +
            '/ws/chat/' + 
            roomName + 
            '/'
            );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var username = data['username'];
            var now = new Date().toLocaleString();

            document.querySelector('#chat-log').value += (username + ', ' +now  + ': ' + message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        // Send message 
        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));

            messageInputDom.value = '';
        };

        // Send message anonymously
        document.querySelector('#chat-message-anonymously').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            var user_username = ''
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));

            messageInputDom.value = '';
        };

        // Send message in date_time

        document.querySelector('#chat-message-in_datetime').onclick = function(e) {
            var messageInputDate = document.querySelector('#datetime-message');
            var messageInputDom = document.querySelector('#chat-message-input');

            var message = messageInputDom.value;
            var datetime = messageInputDate.value;

            var data = {};
                data.message = message;
                data.user_username = user_username;
                data.datetime = datetime;

                var csrf_token = $('#csrf_token_get [name="csrfmiddlewaretoken"]').val();
                data["csrfmiddlewaretoken"] = csrf_token;

                var url = '/chat/create/'
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    });
                
                messageInputDom.value = '';
                messageInputDate.value = '';
            };
    </script>

{% endblock  %}